* {
    box-sizing: border-box;
  }

  .geo-regular {
    font-family: "Geo", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .geo-regular-italic {
    font-family: "Geo", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
.intro {
    color:#FF5928;
    font-size:80px;
    z-index:9;
    position:relative;
} 

body {
    background-color: #002626;
    color:#FF5928;
    border-color: #FF5928;
    font-family:  "Geo", sans-serif;
}
header h1 {
    text-align: center;
}

header h2 {
    text-align: center;
    margin-left:10%;
    margin-right:10%;
    font-size:22px;
}

h1 {
    font-size:34px;
    margin-bottom:0px;
}

h2 {
    margin-top:10px;
   font-size:22px; 
}

section { display:flex;
flex-flow: row wrap;
justify-content: space-between;
width:100%;
}

div {
    flex: 1 0 30%;
    text-align: left;
    border: solid;
    border-width: 0.18em;
    margin-top: 30px;
    margin-left:0.5%;
    margin-right:0.5%;
    padding-left:15px;
    padding-right:15px;
    background: linear-gradient(to top,#000000, #ffd66700);
}

p {
font-size:16px;
}

pre {
    color:#ffd667;
    padding-left: 20px;
    padding-right: 20px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;  
}

nav a {
    font-size:18px;
    text-decoration: none;
    color:#FF5928
}

.headercontainer {
width:100%;    
}
.headerbox {

    width:400px;
    max-width: 370px;
    min-width: 330px;
    border: solid;
    border-width: 0.1em;
    margin-top: 240px;
    padding-left:15px;
    padding-right:15px;
    background-image: linear-gradient(to top, #002626, #002626);

}

.portraitbox {
    border:solid;
    border-width: 0.1em;
    width:274px;
    height:388px;
    margin-left:5%;
    margin-right:5%;
    position:relative;
    padding-top:20px;
    margin-top:-200px;
    margin-bottom:140px;
    background-color:#002626;
}

.portraitbox img {
    display:block;
    text-align:center;
    margin:auto 0;
    align-self: center;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-top: 2px solid #FF5928;
}

.cardheader {

    border:solid;
    border-width: 0.1em;
    margin-left:5%;
    margin-right:5%;
    padding-left:15px;
    padding-right:15px;
    position:relative;
    margin-top:-15px;
    background-color:#002020;
}

div:hover,
div:hover .cardheader {
    box-shadow: inset 0px 0px 0px 0px
    #FF5928, 0 0 15px
    #FF5928;
}

@media screen and (max-width: 992px) {
    div { 
        flex-flow: column wrap;
        flex: 1 1 40%;
        margin-left:2%;
        margin-right:2%;
        width:40%;
    }
    .intro {
        font-size:30px;
        color:#FF5928;
        line-height:28px;
    }
    
}

@media screen and (max-width: 768px) {
    
    div { 
        flex-flow: column wrap;
        flex: 1 1 100%;
        margin-left:10%;
        margin-right:10%; 
    }
    .intro {
        font-size:30px;
        color:#FF5928;
        line-height:28px;
    }

}

