/* In my approach to organizing my style sheet I attempted to follow the order that elements appear in the page layout as much as possible both to help my work and to hopefully make it easier to navigate for others. */

* {
    box-sizing: border-box;
  }

a {
  text-decoration: none;
}

.intro {
    color:#FF5928;
    font-size:24px;
    margin-top:-110px;
    line-height:28px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing:4px;
}


body {
    margin:0;
    background-color: #002626;
    color:#FF5928;
    border-color: #FF5928;
    font-family:  "Barlow Semi Condensed", sans-serif;
}
header h1 {
    text-align: center;
}

header h2 {
    text-align: center;
    margin-left:10%;
    margin-right:10%;
    font-size:22px;
}

h1 {
    font-size:34px;
    margin-bottom:0px;
}

h2 {
    margin-top:10px;
   font-size:22px; 
}

section {
    width: 100%;
}

p {
font-size:16px;
}


nav {
display:block;
margin:auto;
width:400px;
text-align:center;
margin-top: 20px;
letter-spacing: 3px;
}

nav a {
    font-size:14px;
    text-decoration: none;
    color:#FF5928;
    padding-left: 14px;
    padding-right:14px;
}

.headercontainer {
width:100%;
}

.headerbox {

    width:400px;
    height:365px;
    border: solid;
    border-width: 0.1em;
    border-color:white;
    margin:auto;
    margin-top:220px;
    padding-left:15px;
    padding-right:15px;
    background-image: linear-gradient(to top, #002626, #002626);

}

.portraitbox {
    border:solid;
    border-width: 0.1em;
    width:273px;
    height:388px;
    margin:auto;
    position:relative;
    padding-top:20px;
    margin-top:-200px;
    margin-bottom:140px;
    background-color:#002626;

    
}

.portraitbox img {
    display:block;
    text-align:center;
    margin:auto 0;
    align-self: center;
}


.scrollc2a {
    margin:auto; margin-top:32px;
}

.triangle-down {
  display:block;
  margin:auto;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 16px solid #FF5928;
}

.banner {
background-color: #FF5928;
color:#002626;
letter-spacing:3px;
text-align: center;
margin-top: 40px;
padding-top:7px;
padding-bottom:3px;
}

.featproject {
  display:flex;
  flex-flow:column wrap;
    margin:auto;
width:70%;
max-width:960px;
min-width:400px;
height:600px;
border:solid white;
border-width:0.1em;
margin-top: 40px;
}

.featprjimg {
  flex:1 1 60%;
  height:60%;
  max-height: 550px;
  width:100%;
  flex-flow:column wrap;
  margin:auto 0;
  background-image:url("miniproject.png");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.fpdetail {
  flex:1 1 10%;
  background-color:#002626;
  border:solid white;
  border-width:0.1em;
}

.fpdetail p {
  margin:0 auto;
text-align:center;
width:70%;
max-height:76px;
line-height:20px;
border:solid;
border-width:0.1em;
color:white;
margin-top:37px;
padding-top:4px;
padding-bottom:6px;
}

.project {
  display:flex;
  flex-flow:column wrap;
    margin:auto;
    width:70%;
    max-width:960px;
    min-width:400px;
    height:400px;
border:solid white;
border-width:0.1em;
margin-top: 40px;
}

.prjplaceholder {
  flex:1 1 60%;
  height:60%;
  max-height:350px;
  flex-flow:column wrap;
  margin:auto 0;
}

.prjplaceholder p {
  margin:0 auto;
  text-align:center;
  width:70%;
  font-size:40px;
  color:white;
  line-height: 38px;
  margin-top:90px;
}

.prjdetail {
  flex:1 1 30%;
  background-color:#002626;
  border:solid white;
  border-width:0.1em;
}

.prjdetail p {
  margin:0 auto;
text-align:center;
width:70%;
max-height:76px;
line-height:20px;
border:solid white;
border-width:0.1em;
color:white;
margin-top:37px;
padding-top:4px;
padding-bottom:6px;
}

.about {
    margin:auto;
    width:400px;
    height:400px;
border:solid white;
border-width:0.1em;
margin-top: 40px;
}

.about summary {
float:left;
width:53%;
margin-left:28px;
margin-top:8px;
color:white;
}

.pic {
  width:112px;
  float:left;
  padding:15px;
}

.pic img {
  width:112px;

}

footer {
width:100%;
height:80px;
margin-top: 40px;
padding-top:7px;
background-color: black;
text-align:center;
color:white;
font-size:10px;
line-height:10px;
padding:4px;
letter-spacing: 3px;
}


/* Mobile design prioritized. Media queries use min-width and change layout for larger displays */


/* Encountered issue with largest featured project image as size increased.
Used below media query to replace background image accordingly for larger displays. */

@media screen and (min-width:696px) {
  .featprjimg {
    flex:1 1 60%;
    height:60%
    max-height: 550px;
    width:100%;
    flex-flow:column wrap;
    margin:auto 0;
    background-image:url("miniprojectbig.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
}
@media screen and (min-width:768px) {
  .project {
    flex-flow:row nowrap;

  }

  .prjdetail {
  flex:1 1 30%;
  max-height:none;
  border:solid white;
  border-width:0.1em;
  }

  .prjdetail p {
    margin:0 auto;
  text-align:center;
  width:70%;
  max-height:106px;
  line-height:20px;
  border:solid;
  color:white;
  margin-top:150px;
  border-width:0.1em;
  padding:10px;
  }

}
@media screen and (min-width:1260px) {
  .featprjimg {
    flex:1 1 60%;
    height:60%;
    max-height: 550px;
    width:100%;
    flex-flow:column wrap;
    margin:auto 0;
    background-image:url("miniprojectbigg.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    }
  .prjdetail {
    flex:1 1 30%;
    max-height:none;
    border:solid white;
    border-width:0.1em;
    }
  
    .prjdetail p {
      margin:0 auto;
    text-align:center;
    width:70%;
    max-height:106px;
    line-height:20px;
    border:solid white;
    color:white;
    margin-top:150px;
    border-width:0.1em;
    padding:10px;
    }
  
}