* {
    box-sizing: border-box;
  }

  .geo-regular {
    font-family: "Geo", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .geo-regular-italic {
    font-family: "Geo", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
.intro {
    color:#ffd667;
    border:solid;
    border-left:none;
    border-right:none;
    font-size:80px;
} 

body {
    background: linear-gradient(to top,);
    background-color: #1c1813;
    color:#b4b8fd;
    border-color: #b4b8fd;
    font-family:  "Geo", sans-serif;
}
header h1 {
    text-align: center;
}

header h2 {
    text-align: center;
    margin-left:10%;
    margin-right:10%;
    font-size:22px;
}

h1 {
    font-size:34px;
    margin-bottom:0px;
}

h2 {
    margin-top:10px;
   font-size:22px; 
}

section { display:flex;
flex-flow: row wrap;
justify-content: space-between;
width:100%;
}

div {
    flex: 1 0 30%;
    text-align: left;
    border: solid;
    border-width: 0.18em;
    border-radius: 15px;
    margin-top: 30px;
    margin-left:0.5%;
    margin-right:0.5%;
    padding-left:15px;
    padding-right:15px;
    background-image: linear-gradient(to top, #343548, #1c1813);
}

p {
font-size:16px;
}

pre {
    color:#ffd667;
    padding-left: 20px;
    padding-right: 20px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;  
}

.cardheader {
    width:90%;
    border:solid;
    border-width: 0.1em;
    border-radius: 5px;
    margin-left:5%;
    margin-right:5%;
    padding-left:15px;
    padding-right:15px;
    position:relative;
    margin-top:-15px;
    background-color:#1c1813;
}

div:hover,
div:hover .cardheader {
    box-shadow: inset 0px 0px 0px 0px
    #b4b8fd, 0 0 15px
    #b4b8fd;
}

@media screen and (max-width: 992px) {
    div { 
        flex-flow: column wrap;
        flex: 1 1 40%;
        margin-left:2%;
        margin-right:2%;
        width:40%;
    }
    .intro {
        font-size:50px;
        color:#ffd667;
    }
    
}

@media screen and (max-width: 768px) {
    
    div { 
        flex-flow: column wrap;
        flex: 1 1 100%;
        margin-left:10%;
        margin-right:10%; 
    }
    .intro {
        font-size:50px;
        color:#ffd667;
    }

}

